@use "./variables" as *;

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  flex: 1;
  max-width: 110px;
  padding: 10px 5px;
  background-color: $background-color;
  border-radius: $border-radius;
  font-size: $font-size;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
  border: 2px solid $button-border-color;

  &:hover {
    background: $button-background-color-hover;
    border: 2px solid $button-border-color-hover;
  }
}

.modal button .stars {
  display: flex;
  gap: 3px;
}
