$background-color: rgb(227, 225, 213);
$button-background-color: rgb(231, 198, 164);
$button-background-color-hover: rgba(231, 198, 164, 0.3);
$border-color: rgb(0, 0, 0);
$card-background-color: rgb(49, 101, 87);
$button-border-color: rgba(0, 0, 0, 0.23);
$button-border-color-hover: rgba(0, 0, 0, 0.1);
$font-size: 16px;
$card-back-size: 30px;
$game-panel-item-background-color: rgba(157, 125, 94, 0.1);
$font-main: "Poppins";
$card-width: 100px;
$card-height: 140px;
$card-border-radius: 10px;
$border-radius: 5px;
$font-weight: 500;
$modal-overlay-background: rgba(0, 0, 0, 0.5);
$modal-background-color: rgb(255, 255, 255);
